/* Basic reset to remove default padding and margin */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling for the entire body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Navigation menu styling */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Blog post styling */
.blog-post {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}



/* Theme Toggle Button Styling */
.theme-toggle {
    padding: 5px 10px;
    margin: 10px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Dark theme styles */
.dark-theme {
    background-color: #333;
    color: #fff;
}

.dark-theme header, .dark-theme footer {
    background: #1a1a1a;
    color: #fff;
}

.dark-theme .theme-toggle {
    background-color: #1a1a1a;
    color: #fff;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    margin: 50px auto;
    background: red;
  }
  
  #heart:before,
  #heart:after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  #heart:after {
    left: 50px;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  @keyframes beat {
    0% { transform: scale(1); }
    25% { transform: scale(1.05); }
    50% { transform: scale(1); }
    75% { transform: scale(0.95); }
    100% { transform: scale(1); }
  }
  
  #heart {
    animation: beat 1s infinite;
  }
  
